.modal-header {
    //background   : $main-color;
    font-weight  : 600;
    font-size    : 16px;
    color        : #000;
    padding      : 8px;
    border-radius: 8px;
}

.modal-content {
    margin-bottom: 16px;
}

.info-section {
    margin-bottom: 8px;
}

.modal-footer {
    text-align: right;
}

.modal-footer button {
    background   : $main-color;
    color        : white;
    border       : none;
    padding      : 8px 16px;
    border-radius: 8px;
    cursor       : pointer;
}

.product-section {
    display       : flex;
    margin-top    : 16px;
    flex-direction: column;
}

.product-section img {
    width       : 100px;
    /* Điều chỉnh kích thước hình ảnh */
    margin-right: 16px;
}

.product-info {
    flex-grow: 1;
}

.order-detail-table {
    margin         : 16px;
    border-collapse: collapse;
}

.order-detail-table table {
    width : 100%;
    border: 1px solid #ddd;
}

.order-detail-table td {
    padding: 8px;
    border : 1px solid #ddd;
}

.product-item {
    display: flex;
}